.room-container {
    position: relative;
    width: 100%; /* Full width of the viewport */
    height: auto; /* Automatically adjust height */
  }
  
  .roompic {
    display: block;
    width: 100%; /* Scale to container width */
    height: auto; /* Maintain aspect ratio */
    object-fit: contain; /* Ensure no distortion */
  }
  
  .star {
    position: absolute;
    top: 60%; /* Adjust this value proportionally */
    left: 15%; /* Adjust this value proportionally */
    width: 40%; /* Make the star 10% of the roompic’s width */
    height: auto; /* Maintain aspect ratio */
  }
  
  


.background {
    height: 100%; 
    width: 100%;
    position: absolute;
    border: 10px dashed pink;
    margin: 0 auto;
    background-color: black;
    background-image: url("../images/room32draft.png");
    background-repeat: no-repeat;
    background-position: center top; 
    background-size: contain;
    overflow: hidden;
}



body { background-color: black;

}